*{
    margin: 0;
    padding: 0;
}
.bg-container{
    background-color: black;
    display: flex;
    height: 695px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bulbImage{
    margin-left: 20px;
    height: 150px;
    width: 70px;
    display: flex;
}
.catImage{
    height: 200px;
    width: 100;
    display: flex;
}
.btn{
    margin-left: 1800px;
}
.offbtn{
    margin-right: 5px;
    margin-left: 15px;
    width: 50px;
    height: 30px;
    align-items: center;
}
.onbtn{
    margin-left: 5px;
    width: 50px;
    height: 30px;
    align-items: center;
}
.hide{
    margin-left: 5px;
    width: 60px;
    height: 30px;
    align-items: center;
}

